<details class="activity_log">
  <summary>
    Activity log
  </summary>
  <ul>
    <li>
      Created <span class="automatic-suggestion"
                      {# TODELETE: style once color is applied through class #}
                      style="font-weight:bold;color:royalblue"
              >automatic suggestion</span>
      {{ activity_log.created_at }}
    </li>
    {% for log_entry in activity_log.updates %}
      <li>
        @<strong>{{ log_entry.user }}</strong>
        {% if "derivations." in log_entry.action %}
          {# Package update entries #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          package <strong>{{ log_entry.object }}</strong>
        {% else %}
          {# Status update entries #}
          {% if "accepted" in log_entry.action  %}
            <span class="suggestion-status-selected"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:limegreen"
            >selected</span>
          {% elif "rejected" in log_entry.action %}
            <span class="suggestion-status-dismissed"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:darkgreen"
            >dismissed</span>
          {% else %}
            {{ log_entry.action }}
          {% endif %}
        {% endif %}
        {{ log_entry.timestamp }}
      </li>
    {% endfor %}
  </ul>
</details>
