{% load humanize %}
{% load viewutils %}

<details class="activity-log"
         id="suggestion-activity-log-{{suggestion_id}}"
         data-relative=true
>
  <summary>
    Activity log
  </summary>
  <ul style="list-style: none">
    <li>
      Created <span class="automatic-suggestion"
                    {# TODELETE: style once color is applied through class #}
                    style="font-weight:bold;color:royalblue"
              >automatic suggestion</span>
      {% if activity_log.created_at is None %}
        before activity logging was enabled.
      {% else %}
        {{ activity_log.created_at }}
      {% endif %}
    </li>
    {% for timestamp, log_entries in activity_log.updates.items %}
    {% for log_entry in log_entries %}
      <li style="display: flex;align-items: flex-start;gap: 0.3em;">
        @<strong>{{ log_entry.user }}</strong>
        {% if "derivations." in log_entry.action %}
        {# Package update entries #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          {% if log_entry.target.items|length_is:1 %}
            {% for packagename, derivations in log_entry.target.items %}
              package <strong>{{ packagename }}</strong>
            {% endfor %}
          {% else %}
            <details class="package-summary" style="display:inline">
              <summary style="list-style-type: none; cursor: pointer; text-decoration: underline;">
                {{ log_entry.target.items|length }} packages
              </summary>
              <ul style="padding-left:1.5em">
                {% for packagename, derivations in log_entry.target.items %}
                  <li>{{ packagename }}</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        {% else %}
          {# Status update entries #}
          {% if "accepted" in log_entry.target  %}
            <span class="suggestion-status-selected"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:limegreen"
            >selected</span>
          {% elif "rejected" in log_entry.target %}
            <span class="suggestion-status-dismissed"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:darkgreen"
            >dismissed</span>
          {% else %}
            {{ log_entry.action }}
          {% endif %}
        {% endif %}
        <span class="activity-log-entry-timestamp"
              data-timestamp-relative="{{ timestamp|naturaltime }}"
              data-timestamp-iso="{{ timestamp|iso }}"
        >
          {{ timestamp|naturaltime }}
        </span>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
  <script>
    {% comment %}
      NOTE(alejandrosame): This will be called several times, but I'd rather keep this logic
        contained in this file until the project settles on a frontend framework.
    {% endcomment %}

    var log = document.querySelector('#suggestion-activity-log-{{suggestion_id}}');
    log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
      const changeTimestampPresentation = log_id => {
        const log = document.querySelector(log_id);

        log.dataset.relative = !(log.dataset.relative === "true")

        log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
          if (log.dataset.relative === "true"){
            timestamp.textContent = timestamp.dataset.timestampRelative;
          } else {
            timestamp.textContent = timestamp.dataset.timestampIso;
          }
        });
      };

      timestamp.onclick = function() {
        changeTimestampPresentation('#suggestion-activity-log-{{suggestion_id}}');
      };
    });
  </script>
</details>
