{% load humanize %}
{% load viewutils %}

{% if not suggestion.activity_log.updates|length_is:0 %}
<details class="activity-log"
         id="suggestion-activity-log-{{suggestion.id}}"
         data-relative=true
         style="background-color: gainsboro;margin-left: 1em; padding: 0.2em"
>
  <summary class="main-summary"
           style="display: flex;justify-content: flex-end;gap: 0.3em"
  >
    <span class="title-when-closed">
      <span style="font-style: italic">
        updated {{ suggestion.activity_log.updates|last_key|naturaltime }}
      </span>
      by <strong>@{{ suggestion.activity_log.updates|last_user }}</strong>
    </span>
    <strong class="title-when-opened" style='display: none'>Activity log</strong>
  </summary>
  <ul style="list-style: none;margin: 0;padding-left: 0;padding-right: 1em;padding-top: 0.2em;padding-bottom: 0.5em;">
    <li style="display: flex;justify-content: flex-end;gap: 0.3em;">
      Created <span class="automatic-suggestion"
                    {# TODELETE: style once color is applied through class #}
                    style="font-weight:bold;color:royalblue"
              >automatic suggestion</span>
      <span class="activity-log-entry-timestamp"
            data-timestamp-relative="{{ suggestion.created_at|naturaltime }}"
            data-timestamp-iso="{{ suggestion.created_at|iso }}"
            style="font-style: italic"
      >
        {{ suggestion.created_at|naturaltime }}
      </span>
    </li>
    {% for timestamp, log_entries in suggestion.activity_log.updates.items %}
    {% for log_entry in log_entries %}
      <li style="display: flex;justify-content: flex-end;gap: 0.3em;">
        <strong>@{{ log_entry.user }}</strong>
        {% if "derivations." in log_entry.action %}
        {# Package update entries #}
          {% if ".add" in log_entry.action %}
            added
          {% else %}
            removed
          {% endif %}
          {% if log_entry.target.items|length_is:1 %}
            {% for packagename, derivations in log_entry.target.items %}
              package <strong>{{ packagename }}</strong>
            {% endfor %}
          {% else %}
            <details class="package-summary" style="display:inline">
              <summary style="list-style-type: none; cursor: pointer; text-decoration: underline;">
                {{ log_entry.target.items|length }} packages
              </summary>
              <ul style="padding-left:1.5em">
                {% for packagename, derivations in log_entry.target.items %}
                  <li>{{ packagename }}</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        {% else %}
          {# Status update entries #}
          {% if "accepted" in log_entry.target  %}
            <span class="suggestion-status-selected"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:limegreen"
            >selected</span>
          {% elif "rejected" in log_entry.target %}
            <span class="suggestion-status-dismissed"
                  {# TODELETE: style once color is applied through class #}
                  style="font-weight:bold;color:darkgreen"
            >dismissed</span>
          {% else %}
            {{ log_entry.action }}
          {% endif %}
        {% endif %}
        <span class="activity-log-entry-timestamp"
              data-timestamp-relative="{{ timestamp|naturaltime }}"
              data-timestamp-iso="{{ timestamp|iso }}"
              style="font-style: italic"
        >
          {{ timestamp|naturaltime }}
        </span>
      </li>
    {% endfor %}
    {% endfor %}
  </ul>
  <script>
    {% comment %}
      NOTE(alejandrosame): This section will be called several times, but I'd rather keep
        this logic contained in this file until the project settles on a frontend framework.
    {% endcomment %}

    {# Appending style because we can't use inline CSS for pseudo-elements #}
    if (typeof appendSuggestionStyle === 'undefined'){
      const appendExtraSuggestionStyle = () => {
        const styleElement = document.createElement('style');

        styleElement.textContent = `
            details.activity-log > summary.main-summary {
              list-style: none;
            }

            details.activity-log > summary.main-summary::marker {
              display: none;
            }

            details.activity-log > summary.main-summary::after {
              content: '◀';
            }

            details.activity-log[open] summary.main-summary::after {
              content: "▼";
            }
        `;

        document.head.appendChild(styleElement);
      }

      appendExtraSuggestionStyle();
    }


    var log = document.querySelector('#suggestion-activity-log-{{suggestion.id}}');

    var created_or_updated_timestamp = log.querySelector

    log.addEventListener('toggle', function(event) {
      const classClosedTitle = ".title-when-closed";
      const classOpenedTitle = ".title-when-opened";

      const closedTitle = event.target.querySelector(classClosedTitle);
      const openedTitle = event.target.querySelector(classOpenedTitle);

      if (event.target.open) {
        openedTitle.style.display = '';
        closedTitle.style.display = 'none';
      } else {
        openedTitle.style.display = 'none';
        closedTitle.style.display = '';
      }
    });

    log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
      const changeTimestampPresentation = log_id => {
        const log = document.querySelector(log_id);

        log.dataset.relative = !(log.dataset.relative === "true")

        log.querySelectorAll('.activity-log-entry-timestamp').forEach((timestamp) => {
          if (log.dataset.relative === "true"){
            timestamp.textContent = timestamp.dataset.timestampRelative;
          } else {
            timestamp.textContent = timestamp.dataset.timestampIso;
          }
        });
      };

      timestamp.onclick = function() {
        changeTimestampPresentation('#suggestion-activity-log-{{suggestion.id}}');
      };
    });
  </script>
</details>
{% else %}
<span style="font-style: italic;background-color: gainsboro;margin-left: 1em; padding: 0.2em"
      data-timestamp-relative="created {{ suggestion.created_at|naturaltime }}"
      data-timestamp-iso="created {{ suggestion.created_at|iso }}"
      onclick="if (event.target.textContent === event.target.dataset.timestampRelative){
        event.target.textContent = event.target.dataset.timestampIso;
      } else {
        event.target.textContent = event.target.dataset.timestampRelative;
      }"
>
  created {{ suggestion.created_at|naturaltime }}
</span>
{% endif%}
