{% extends "base.html" %}

{% block extra_head %}
<style>
    .container {
        display: flex;
    }

    .column {
        flex: 1;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .column-header {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .column-header-top {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column-header-top > * {
        padding-right: 20px
    }

    .column-header-top > h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    nav.pagination {
        background-color: white;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    nav.pagination ul{
        margin-left: auto;
        margin-right: auto;
    }

    nav.pagination a {
        color: black;
    }

    nav.pagination .current {
        font-weight: bold;
    }

    nav.pagination li.index + li.index {
        margin-left: 0.1em;
    }

    .selectable-item {
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    form > input {
        display: none;
    }

    .pkg-header-description {
        cursor: pointer;
    }

    .grouped-pkgs > hr {
        text-align: center;
        border: 0;
        border-bottom: 1px solid #ccc;
    }

    .grouped-pkgs {
        list-style: none;
        padding: 0px;
        display: none;
        overflow: hidden;
    }

    .grouped-pkgs > li {
        padding-left: 18px;
        display: block;
        overflow: hidden;
    }

    .cve-db-id, .pkg-count {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .cve-id, .pkg-name {
        font-weight: bold;
    }

    .cve-header-description-long, .pkg-header-description-long {
        padding-top: 5px;
        font-size: 0.75em;
    }

    .pkg-db-id {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .pkg-system {
        font-weight: bold;
        font-size: 0.8em;
    }

</style>
{% endblock extra_head %}

{% block content %}

<form method="get">
    <input type=submit> <!-- Allow submitting form with Enter -->
    <div class="container">
        <div class="column">
            <div class="column-header">
                <div class="column-header-top">
                    <h1>CVEs</h1>
                    <div>
                        <input name="search_cves" type="text" placeholder="Search to filter..."
                            {% if search_cves %} value="{{search_cves}}" {% endif %}
                        />
                    </div>
                </div>
                <nav class="pagination">
                    <ul>
                        {% for page_number in cve_paginator_range %}
                        <li class="index">
                            {% if page_number == paginator.ELLIPSIS %}
                                {{paginator.ELLIPSIS}}
                            {% else %}
                                <a  href="{{request.path}}?cve_page={{page_number}}"
                                    class="{% if page_number == cve_list.number %}current{% endif %}"
                                >
                                    {{page_number}}
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <ul class="cves">
                {% for object in cve_list %}
                <li class="cve-entry selectable-item" data-id="{{object.id}}">
                    <div class="cve-header">
                        <span class="cve-header-actions">
                            <input type="checkbox" class="cve-checkbox">
                        </span>
                        <span class="cve-header-description">
                            <span class="cve-db-id">{{ object.id }}</span>
                            <span class="cve-id">{{ object.cve.cve_id }}</span>
                            <div class="cve-header-description-long">
                                {{ object.title }}
                            </div>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <div class="column-header">
                <div class="column-header-top">
                    <h1>PKGs</h1>
                    <div>
                        <input name="search_pkgs" type="text" placeholder="Search to filter..."
                        {% if search_pkgs %} value="{{search_pkgs}}" {% endif %}
                        />
                    </div>
                </div>
                <nav class="pagination">
                    <ul>
                        {% for page_number in pkg_paginator_range %}
                        <li class="index">
                            {% if page_number == paginator.ELLIPSIS %}
                                {{paginator.ELLIPSIS}}
                            {% else %}
                                <a  href="{{request.path}}?pkg_page={{page_number}}"
                                    class="{% if page_number == pkg_list.number %}current{% endif %}"
                                >
                                    {{page_number}}
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <ul id="pkgs">
                {% for object in pkg_list %}
                <li class="pkg-entry selectable-item" data-id="{{forloop.counter0}}">
                    <div class="pkg-header">
                        <span class="pkg-header-actions">
                            <input type="checkbox" class="parent-checkbox">
                        </span>
                        <span class="pkg-header-description">
                            <span class="pkg-count">({{ object.pkg_count }} pkgs)</span>
                            <span class="pkg-name">{{ object.name }}</span>
                            <div class="pkg-header-description-long">
                                {{ object.metadata__description }}
                            </div>
                        </span>
                    </div>
                    <ul class="grouped-pkgs">
                        <hr>
                        {% for grouped in object.grouped_pkg_objects %}
                        <li data-id="{{grouped.id}}">
                            <input type="checkbox" class="child-checkbox">
                            <span class="pkg-db-id">{{grouped.id}}</span>
                            <span class="pkg-system">{{grouped.system}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>

<script>
    // Add custom logic for each pkg entry
    var pkgEntries = document.querySelectorAll('.pkg-entry');
    pkgEntries.forEach(function(entry) {
        // Select/deselect all children when parent is selected/deselected
        var parentCheckbox = entry.querySelector('.parent-checkbox');
        var childCheckboxes = entry.querySelectorAll('.child-checkbox');

        parentCheckbox.addEventListener('change', function() {
            childCheckboxes.forEach(function(checkbox) {
                checkbox.checked = parentCheckbox.checked;
            });
        });

        // Show/collapse list of children when cliking on parent description
        var collapseTrigger = entry.querySelector('.pkg-header-description');
        var collapsible = entry.querySelector(".grouped-pkgs");

        collapseTrigger.addEventListener('click', function() {
            if (collapsible.style.display === "block") {
                collapsible.style.display = "none";
            } else {
                collapsible.style.display = "block";
            }
        });
    });
</script>
{% endblock content %}
