{% extends "base.html" %}
{% load triagetags %}

{% block extra_head %}
<style>
    .container {
        display: flex;
    }

    .column {
        flex: 1;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .column-header {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .column-header-top {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px 10px 0px 10px;
        margin: 0px 5px 0px 5px;
    }

    .column-header-top > * {
        padding-right: 20px
    }

    .column-header-top > h1 {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    nav.pagination {
        background-color: white;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    nav.pagination ul{
        margin-left: auto;
        margin-right: auto;
    }

    nav.pagination a {
        color: black;
    }

    nav.pagination .current {
        font-weight: bold;
    }

    nav.pagination li.index + li.index {
        margin-left: 0.1em;
    }

    .selectable-item {
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    form > input {
        display: none;
    }

    hr {
        text-align: center;
        border: 0;
        border-bottom: 1px solid #ccc;
    }

    .cve-header-description {
        cursor: pointer;
    }

    .cve-extra-info {
        font-size: 0.7em;
        display: none;
    }

    .column-cve {
        flex:1;
        display: flex;
    }

    .cve-field-value {
        margin-left: 5px;
    }

    .cpe-list.hide-extra > li:nth-child(n+5) {
        display:none;
    }

    button.cpe-extra {
        font-size: 1em;
        margin-top: 5px;
        margin-left: 10px;
    }

    .cve-description {
        margin-top: 5px;
    }

    .pkg-header-description {
        cursor: pointer;
    }

    .grouped-pkgs {
        list-style: none;
        padding: 0px;
        display: none;
        overflow: hidden;
    }

    .grouped-pkgs > li {
        padding-left: 18px;
        display: block;
        overflow: hidden;
    }

    .cve-db-id, .pkg-count {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .cve-id, .pkg-name {
        font-weight: bold;
    }

    .cve-header-description-long, .pkg-header-description-long {
        padding-top: 5px;
        font-size: 0.75em;
    }

    .pkg-db-id {
        font-size: 0.7em;
        font-weight: bold;
        color: #555;
    }

    .pkg-system {
        font-weight: bold;
        font-size: 0.8em;
    }

    *:has(> select#id_cve), *:has(> select#id_derivations) {
        display: none;
    }

    #issueForm {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin-top: 20px;
    }

    .issueFormFields {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin: 5px;
    }

    label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
    }

    div:has(> #id_description_text) {
        flex-grow:1;
    }

    #id_status, #id_description_text {
        width: 100%;
    }

    .errorsFromHiddenInputs {
        background: pink;
    }

</style>
{% endblock extra_head %}

{% block content %}

<form id="getForm" method="get">
    <input type=submit> <!-- Allow submitting form with Enter -->
    <div class="container">
        <div class="column">
            <div class="column-header">
                <div class="column-header-top">
                    <h1>CVEs</h1>
                    <div>
                        <input name="search_cves" type="text" placeholder="Search to filter..."
                            {% if search_cves %} value="{{search_cves}}" {% endif %}
                        />
                    </div>
                </div>
                <nav class="pagination cve">
                    <ul>
                        {% for page_number in cve_paginator_range %}
                        <li class="index">
                            {% if page_number == cve_list.paginator.ELLIPSIS %}
                                {{cve_list.paginator.ELLIPSIS}}
                            {% else %}
                                <a  href="{{request.path}}?cve_page={{page_number}}"
                                    class="{% if page_number == cve_list.number %}current{% endif %}"
                                    data-id="{{page_number}}"
                                >
                                    {{page_number}}
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <ul class="cves">
                {% for object in cve_list %}
                <li class="cve-entry selectable-item" data-id="{{object.id}}">
                    <div class="cve-header">
                        <span class="cve-header-actions">
                            <input data-id="{{object.cve_id}}" type="checkbox" class="cve-checkbox">
                        </span>
                        <span class="cve-header-description">
                            <span class="cve-db-id">{{ object.id }}</span>
                            <span class="cve-id">{{ object.cve__cve_id }}</span>
                            <div class="cve-header-description-long">
                                {{ object.title | default_to_na }}
                            </div>
                        </span>

                        <div class="cve-extra-info">
                            <hr>
                            <div class="container">
                                <span class="column-cve">
                                    <label>Package:</label>
                                    <span class="cve-field-value">{{ object.affected_package_name|default_to_na }}</span>
                                </span>
                                <span class="column-cve">
                                    <label>Repo:</label>
                                    <span class="cve-field-value">{{ object.affected_repo|default_to_na }}</span>
                                </span>
                            </div>
                            <div class="container">
                                <span class="column-cve">
                                    <label>Product:</label>
                                    <span class="cve-field-value">{{ object.affected_product|default_to_na }}</span>
                                </span>
                                <span class="column-cve">
                                    <label>Vendor:</label>
                                    <span class="cve-field-value">{{ object.affected_vendor|default_to_na }}</span>
                                </span>
                            </div>
                            <div class="container">
                                <label>Cpes:</label>
                                <div>
                                    <ul data-id={{object.id}} class="column cpe-list hide-extra">
                                        {% for cpe in object.affected_cpes|clean_nones %}
                                            <li> {{ cpe }} </li>
                                        {% empty %}
                                            <li> No CPEs found. </li>
                                        {% endfor %}
                                    </ul>
                                    <button class="cpe-extra hide-extra" data-id={{object.id}} data-count={{object.affected_cpes|length|add:"-4"}}>
                                        Show {{object.affected_cpes|length|add:"-4"}} CPEs more
                                    </button>
                                </div>
                            </div>
                            <div class="cve-description">{{object.description|default:"No description found."}}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="column">
            <div class="column-header">
                <div class="column-header-top">
                    <h1>PKGs</h1>
                    <div>
                        <input name="search_pkgs" type="text" placeholder="Search to filter..."
                        {% if search_pkgs %} value="{{search_pkgs}}" {% endif %}
                        />
                    </div>
                </div>
                <nav class="pagination pkg">
                    <ul>
                        {% for page_number in pkg_paginator_range %}
                        <li class="index">
                            {% if page_number == pkg_list.paginator.ELLIPSIS %}
                                {{pkg_list.paginator.ELLIPSIS}}
                            {% else %}
                                <a  href="{{request.path}}?pkg_page={{page_number}}"
                                    class="{% if page_number == pkg_list.number %}current{% endif %}"
                                    data-id="{{page_number}}"
                                >
                                    {{page_number}}
                                </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <ul id="pkgs">
                {% for object in pkg_list %}
                <li class="pkg-entry selectable-item" data-id="{{forloop.counter0}}">
                    <div class="pkg-header">
                        <span class="pkg-header-actions">
                            <input type="checkbox" class="parent-checkbox">
                        </span>
                        <span class="pkg-header-description">
                            <span class="pkg-count">({{ object.pkg_count }} pkgs)</span>
                            <span class="pkg-name">{{ object.name }}</span>
                            <div class="pkg-header-description-long">
                                {% comment %} Pretend that the two lists are zipped. {% endcomment %}
                                {% for description in pkg_descriptions %}
                                    {% if forloop.counter == forloop.parentloop.counter %}
                                        {{description.description}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </span>
                    </div>
                    <ul class="grouped-pkgs">
                        <hr>
                        {% comment %} Pretend that the two lists are zipped. {% endcomment %}
                        {% for id in object.ids %}{% for attribute in object.attributes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                            <li>
                                <input data-id="{{id}}" type="checkbox" class="child-checkbox">
                                <span class="pkg-db-id">{{id}}</span>
                                <span class="pkg-system">{{attribute}}</span>
                            </li>
                            {% endif %}
                        {% endfor %}{% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>

<hr>

<form id="issueForm" method="post">
    <button type="submit">Create Nixpkgs issue</button>
    {% if form.cve.errors or form.derivations.errors %}
        <div class="errorsFromHiddenInputs container">
            <div class="column">
            {% if form.cve.errors %}
                <label>CVE errors</label>
                <ul>
                {% for error in form.cve.errors %}
                    {% if error == "This field is required."%}
                        <li>Please, select at least 1 CVE to create an issue.</li>
                    {% else %}
                        <li>{{error}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </div>
            <div class="column">
            {% if form.derivations.errors %}
            <label>PKG errors</label>
                <ul>
                {% for error in form.derivations.errors %}
                    {% if error == "This field is required."%}
                        <li>Please, select at least 1 package to create an issue.</li>
                    {% else %}
                        <li>{{error}}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="issueFormFields">
        {% csrf_token %}
        {{ form.as_div }}
    </div>
</form>

<script>
    // Utils
    const addShowChildrenListener = function (collapseTrigger, collapsible) {
        collapseTrigger.addEventListener('click', function(event) {
            if (collapsible.style.display === "block") {
                collapsible.style.display = "none";
            } else {
                collapsible.style.display = "block";
            }
        });
    };

    const getCheckboxCallback = function (targetSelectId) {
        const callback = function(event) {
            const select = document.getElementById(targetSelectId);
            const id = event.target.getAttribute("data-id")
            if (event.target.checked) { // Add option
                const option = document.createElement("option");
                option.text = id;
                option.value = id;
                option.selected = true;

                select.add(option);
            } else { // Remove option
                for (var i = 0; i < select.options.length; i++) {
                    if (select.options[i].value === id) {
                        select.options[i].remove();
                        break;
                    }
                }
            }
        };
        return callback
    };

    {% comment %}
        NOTE(alejandrosame): If we want to allow selecting packages and CVEs from different pages,
        then we'll have to refactor to manage state with localstorage.
    {% endcomment %}
    // On refresh, set all checkboxes as unchecked
    const allCheckboxes = document.querySelectorAll('input[type="checkbox"]')
    allCheckboxes.forEach(function (checkbox) {
        checkbox.checked = false;
    });

    // Add logic for each pkg entry
    const cveEntries = document.querySelectorAll('.cve-entry');
    cveEntries.forEach(function(entry) {
        const collapseTrigger = entry.querySelector('.cve-header-description');
        const collapsible = entry.querySelector(".cve-extra-info");
        // Show/collapse extra info when cliking on CVE header
        addShowChildrenListener(collapseTrigger, collapsible);

        const cpeExtraButtons = entry.querySelectorAll('button.cpe-extra');
        cpeExtraButtons.forEach(function (button) {
            // Starting style
            if (button.dataset.count <= 0) {
                button.style.display = "none";
            }

            button.addEventListener('click', function(event) {
                event.preventDefault();
                const cpeList = entry.querySelector(`.cpe-list[data-id="${event.target.dataset.id}"]`);
                // Show/hide extra CPE when the list is too big
                if (event.target.classList.contains("hide-extra")) {
                    event.target.classList.remove("hide-extra");
                    event.target.innerText = `Hide ${event.target.dataset.count} CPEs`;
                    cpeList.classList.remove("hide-extra");
                } else {
                    event.target.classList.add("hide-extra");
                    event.target.innerText = `Show ${event.target.dataset.count} CPEs more`;
                    cpeList.classList.add("hide-extra");
                }
            });
        });
    });

    // Add logic for each pkg entry
    const pkgEntries = document.querySelectorAll('.pkg-entry');
    pkgEntries.forEach(function(entry) {
        const parentCheckbox = entry.querySelector('.parent-checkbox');
        const childCheckboxes = entry.querySelectorAll('.child-checkbox');

        const collapseTrigger = entry.querySelector('.pkg-header-description');
        const collapsible = entry.querySelector(".grouped-pkgs");
        // Show/collapse list of children when cliking on parent description
        addShowChildrenListener(collapseTrigger, collapsible);

        // Events to be dispatched
        const changeNoParentTriggerEvent = new CustomEvent('changeNoParentTrigger', {
            bubbles: true,
            cancelable: true
        });
        const checkParentStatusEvent = new CustomEvent('checkParentStatus', {
            bubbles: true,
            cancelable: true
        });


        // Keep parent checkbox state consistent with children childCheckboxes.
        // This means that if all children are checked, parent should be checked.
        parentCheckbox.addEventListener('checkParentStatus', function(event) {
            var allChildrenAreSelected = true;

            childCheckboxes.forEach(function(checkbox) {
                if (!checkbox.checked) { allChildrenAreSelected = false; }
            });

            if (allChildrenAreSelected) {
                parentCheckbox.checked = true;
            } else {
                parentCheckbox.checked = false;
            }

        });

        // Select/deselect all children when parent is selected/deselected
        parentCheckbox.addEventListener('change', function(event) {
            childCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked != parentCheckbox.checked){
                    checkbox.checked = parentCheckbox.checked;
                    checkbox.dispatchEvent(changeNoParentTriggerEvent);
                }
            });
        });

        // On child checkbox change:
        //  - Add/remove options when pkg checkboxes change
        //  - Trigger checkParentStatusEvent to keep parent checkbox in sync with children state
        childCheckboxes.forEach(function(checkbox) {
            const callback = getCheckboxCallback("id_derivations");
            checkbox.addEventListener("changeNoParentTrigger", callback);
            checkbox.addEventListener("change",  function(event) {
                callback(event);
                parentCheckbox.dispatchEvent(checkParentStatusEvent);
            });
        });
    });

    // Add logic for each cve entry
    const cveCheckboxes = document.querySelectorAll('.cve-checkbox');
    cveCheckboxes.forEach(function(checkbox) {
        const callback = getCheckboxCallback("id_cve");
        checkbox.addEventListener("change",  function(event) {
            callback(event);
        });
    });

    // Keep existing search parameters when clicking pagination anchors
    const cvePageNav = document.querySelector(".pagination.cve")
    const pkgPageNav = document.querySelector(".pagination.pkg")

    bindPageClick = (pageNav, searchParamName) => pageNav.querySelectorAll('a').forEach(anchor => {
        anchor.addEventListener('click', function(event) {
            event.preventDefault();
            const page = anchor.getAttribute("data-id")
            const url = new URL(this.href);
            const searchParams = new URLSearchParams(window.location.search);
            searchParams.set(searchParamName, page);
            searchParams.sort();
            url.search = searchParams;
            window.location.href = url.toString();
        });
    });

    bindPageClick(cvePageNav, "cve_page")
    bindPageClick(pkgPageNav, "pkg_page")

    // Keep existing search parameters when submitting form
    const form = document.querySelector("form#getForm")

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const { action } = form;
        const url = new URL(action, window.location);
        const searchParams = new URLSearchParams(window.location.search);
        const formData = new FormData(form);
        for (const [k, v] of formData.entries()) {
            // Clear page search when its filter has changed
            const previousValue = searchParams.get(k) || "";
            if (previousValue != v) {
                if (k.includes("cve")) {
                    searchParams.delete("cve_page");
                } else if (k.includes("pkg")) {
                    searchParams.delete("pkg_page");
                }
            }

            // Clean empty query params from URL
            if (v != "") {
                searchParams.set(k, v);
            } else {
                searchParams.delete(k);
            }
        }
        searchParams.sort();
        url.search = searchParams;
        window.location.href = url.toString();
    });

    // Get rid of required attribute for hidden form controls
    document.querySelector('#id_cve').removeAttribute("required")
    document.querySelector('#id_derivations').removeAttribute("required")

    // Reset checkbox status in case of failed form
    {% for id in form.cve.value %}
    document.querySelector('.cve-checkbox[data-id="{{id}}"]').click();
    {% endfor %}
    {% for id in form.derivations.value %}
    document.querySelector('.child-checkbox[data-id="{{id}}"]').click();
    document.querySelector('.pkg-entry:has(.child-checkbox[data-id="228"]) .pkg-header-description').click();
    {% endfor %}
    // End of checkbox status reset
</script>
{% endblock content %}
